.buttonSuggest{
  margin-top: 2vw;
  padding-left: 3%;
  border-radius: 100px;
  background-color: #cbd67a;
}

.askQ{
  width: 70vw;
  height: 5vh;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0.274);
  border-style: solid;
  padding: 7px;
  color: #000000;
  background-color: #e9edc9;
}

.listenB{
    background-color: transparent;
}



/* Loader HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: .5;
  display: grid;
}
.loader:before {
  content: "";
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: auto auto 0;
  background: #CF4647;
  animation: l9-0 .5s cubic-bezier(0,800,1,800) infinite;
}
.loader:after {
  content: "";
  width: 100%;
  aspect-ratio: 1/cos(30deg);
  margin: 0 auto auto;
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  background: #524656;
  animation: l9-1 .5s linear infinite;
}
@keyframes l9-0 {
  0%,2%  {translate: 0   0%}
  98%,to {translate: 0 -.2%}
}
@keyframes l9-1 {
  0%,5%  {rotate:  0deg}
  95%,to {rotate:-60deg}
}

.supp{
  margin-left: 10px;
  background-color: #fc817b;
  color: #963e39;
}