.countriesGrid {
    display: grid;
    /* Nombre de colonnes dynamique : minmax(200px, 1fr) = "au moins 200px, sinon 1 fraction de l'espace" */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px; /* Espace entre les cartes */
    padding: 16px;
}

/* Pour mobile (1 colonne) */
@media (max-width: 768px) {
    .countriesGrid {
        grid-template-columns: 1fr; /* 1 colonne sur mobile */
    }
}

.langComponent{
    text-align: right;
}

/* Style des cartes (optionnel) */
.paysComponent {
    display: flex;
    justify-content: center;
}

.buttonPays {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    width: 100%;
}

.noCountry {
    grid-column: 1 / -1; /* Prend toute la largeur si "No country found" */
    text-align: center;
    padding: 20px;
    color: #666;
}

.lang{
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1vw;

  border-radius: 100px;
  font-size: small;
  background-color: transparent;
}

.lang3{
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1vw;

  border-radius: 100px;
  font-size: small;
  background-color: #8b5e34;
  color: #ffedd8;
}

.buttonPays{
  width: 220px;
  height: 270px;
  margin: 15px;

  transition: transform 0.1s ease-in-out;

  color: black;

  --radius: 6px;
  background-color: transparent;
  background-image: 
    radial-gradient(var(--radius), transparent 98%, #e7bc91), 
    linear-gradient(#e7bc91 0 0);
  background-repeat: round, no-repeat;
  /* Ajustement de la position et taille */
  background-position: calc(var(--radius) * -1.5) calc(var(--radius) * -1.5), 50%;
  background-size: calc(var(--radius) * 3) calc(var(--radius) * 3), 
                   calc(100% - var(--radius) * 3) calc(100% - var(--radius) * 3);
  

  cursor: pointer;

  /* Ombre pour effet 3D */
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
  padding: 20px; /* Espace pour le contenu */
}

.buttonPays:hover{
  border-color: transparent;
  transform: rotate(2deg);
  
}

.buttonPays:focus{
  border: 0;
}


hr{
  height: 3px;
  border: 0;
  background-color: rgba(92, 92, 92, 0.103);
}

.randomBu{
  width: auto;
  margin-left: 1vw;
  height: 6vh;
  border: 0;
  border-radius: 100px;
  background-color: #8b5e34;
  filter: drop-shadow(0px 0px 15px #58310148);
}

.randomBu:focus{
  background-color: #8b5e34;
}

.ResearchInput{
  height: 2em;
  margin-top: 2em;
  margin-bottom: 2em;

  width: 50%; /* Ou px, vw, etc. */
  margin-left: auto; /* Centre la div */
  margin-right: auto; /* Centre la div */

  padding: 14px;
  border-style: solid;
  border: 0;
  border-radius: 100px;
  background-color: #ffedd8;

  filter: drop-shadow(0px 0px 15px #58310148);
}

.ResearchInput:focus{
  outline: none;
}

.redB{
  background-color: #fc817b;
  color: #963e39;
}

.greenB{
  margin-left: 5px;
  background-color: #d4a276;
}

.countryFlags{
  width: 100%;
}
