.buttonPays{
  width: 50vw;
  margin-top: 7px;
  background-color: #d0da8b;
}

.randomBu{
  margin-left: 2vw;
  margin-right: 1vw;
  background-color: #cbd67a;
}

.ResearchBar{
  width: 80vw;
  height: 4vh;
  border: 0.5;
  border-radius: 20px;
  border-color: transparent;
  padding: 10px;
  background-color: #e9edc9;
}

.ResearchBar:hover{
  border-color: #00000009;
}

.redB{
  background-color: #fc817b;
  color: #963e39;
}

.greenB{
  margin-left: 5px;
  background-color: #d0da8b;
}
